@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavorit-Light-Trial.woff2") format("woff2"), url("/fonts/ABCFavorit-Light-Trial.woff") format("woff");
  font-weight: 300;
  font-style: 300;
}

@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavorit-Regular-Trial.woff2") format("woff2"), url("/fonts/ABCFavorit-Regular-Trial.woff") format("woff");
  font-weight: 400;
  font-style: 400;
}
@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavorit-Medium-Trial.woff2") format("woff2"), url("/fonts/ABCFavorit-Medium-Trial.woff") format("woff");
  font-weight: 500;
  font-style: 500;
}

@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavorit-Bold-Trial.woff2") format("woff2"), url("/fonts/ABCFavorit-Bold-Trial.woff") format("woff");
  font-weight: 700;
  font-style: 700;
}
